<!DOCTYPE html>
<html>
<head>
  <meta name='yandex-verification' content='6913f281c4daf961' />
  <meta name="google-site-verification" content="X9XIJRMgBFbGXipIROxPdZypv2kEQV-_8qDy2n4IG8A" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <title>Новогодние подарки в Минске, Подарочные наборы</title>
  <meta name="keywords" content="Новогодние подарки в Минске, купить новогодние подарки, Минск, недорого, лучшие новогодние подарки, шоколадные конфеты, карамель, подготовить новогодние подарки, подарки для работников, подарки для детей, подарочные наборы конфет, конфеты, леденцы">
  <meta name="description" content="Множество новогодних подарков в Минске. Большой выбор, хорошее качество">

  <link rel="stylesheet" href="/assets/style.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/assets/flexslider.css" type="text/css" media="screen, projection">
  <link type="text/css" href="/assets/jcart.css" media="screen, projection" rel="stylesheet">

</head>
<body>

<div class="header">
    <div class="header-inner">
      <div class="logo">
        <a href="/" title=""><img src="/assets/LOGO2.png" width="380" height="150"></a>
      </div>
      <div class="podlogo">
<!--         <a href="/assets/Новогодние подарки 2015-2016 в Минске   Подарки из конфет.html">Новогодние подарки</a> -->
      </div>
      <div class="menu-block">
        <ul class="menu">
          <li class="home"><a href="/"><img src="/assets/home.gif" alt="Новогодние подарки"></a></li>
          <li><a href="/about_the_company">О компании</a></li>
          <li><a href="/shipping_and_payment">Доставка и оплата</a></li>
          <li><a href="/shares">Акции</a></li>
          <li><a href="/contacts">Контакты</a></li>
        </ul>

      </div>
<!--
      <div class="mobile-block-main">
        <ul class="oper">
          <li><img src="/assets/vel.png" alt="Velcom"> </li>
        </ul>
        <div class="phone">+375 29 227-35-39</div>
      </div>
-->


    </div>    <div class="middle">
    <!-- <div class="ded"><img src="/assets/ded.png" alt="Новогодние подарки Morozoff"></div> -->
          <div class="cat">
        <ul class="catli">
          <li>
            <a href="/classic">
              <img src="/assets/ico1.png" alt="Новогодние подарки для детей"></a><br><a href="/classic">Подарки Классик</a><br>
          </li>
          <li class="catline"></li>
          <li>
            <a href="/prestig"><img src="/assets/ico3.png" alt="Новогодние подарки для учреждений"></a><br><a href="/prestig">Подарки Престиж</a><br>
          </li>
          <li class="catline"></li>

          <li>
            <a href="/roshen"><img src="/assets/rosh.png" alt="Новогодние подарки для учреждений"></a><br><a href="/roshen">Подарки Рошен</a><br>
          </li>
          <li class="catline"></li>

          <li>
            <a href="/vip"><img src="/assets/ico4.png" alt="Новогодние VIP подарки"></a><br><a href="/vip">Подарки VIP</a><br>
          </li>
          <li class="catline"></li>
          <li>
            <a href="/np">
              <img src="/assets/ico2.png" alt="Корпоративные новогодние подарки"></a><br><a href="/np">Новогодняя упаковка</a><br>
          </li>

        </ul>
      </div>





<%= yield %>

<!-- <li>
    <div class="img"><a href=""><img src="/assets/ded-moroz.jpg" alt="Дед Мороз 0.3 кг"></a></div>
    <h4><a href="http://morozoff.by/podarok-1.php">Дед Мороз</a></h4>
    <span class="descr">Вес: 300 гр, Premium состав.</span>
    <div class="cost">28 600 руб</div>
    <div class="buy">
      <a href="http://morozoff.by/podarok-1.php"><img src="/assets/full.gif" alt="Подробнее"></a>
    </div>
</li> -->






</div>
      </div>
  <div class="footer" itemscope="" itemtype="http://schema.org/Organization">
<!--       <div class="ftop"></div> -->
      <div class="foot">
        <div class="fcont">
          <div class="ftit">Контакты</div>
           
          <font>Skype:</font> <span itemprop="telephone">diarpresent</span><br>
          <font>Email:</font> <span itemprop="telephone">diarpresent@gmail.com</span><br>
          <span itemprop="telephone">Телефоны указаны в разделе </span> <a href="/contacts">Контакты</a><br>
        </div>
        <div class="fnavi">
          <div class="ftit">Навигация</div>
          <ul class="fnav">
            <li><a href="/classic">Подарки Классик</a></li>
            <li><a href="/prestig">Подарки Престиж</a></li>
            <li><a href="/roshen">Подарки Рошен</a></li>
            <li><a href="/vip">Подарки VIP</a></li>
            <li><a href="/np">Новогодняя упаковка</a></li>
          </ul>
        </div>

      </div>
      <div class="copyright">
        <div class="copy">
        <span itemprop="name">Новогодние подарки ООО «ДИАР-ПРЕЗЕНТ»</span>
        <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
        <span itemprop="postalCode">220013</span>, г. <span itemprop="addressLocality">Минск</span>, <span itemprop="streetAddress">ул.П.Бровки</span>, 18
        </div>

        <div class="google">
<!--         <a href="http://plus.google.com/u/0/107921404089638217797?prsrc=3" rel="publisher" target="_blank" style="text-decoration:none;">
        <img src="/assets/gplus-32.png" alt="Google+" style="border:0;width:32px;height:32px;">
        </a> -->
        </div>
<!--         <div class="rambler">
        <script id="top100Counter" type="text/javascript" src="/assets/top100.jcn"></script><a href="http://top100.rambler.ru/home?id=3028603" target="_blank"><img src="/assets/top100.scn" title="Rambler&#39;s Top100" alt="Rambler&#39;s Top100" border="0"></a>

        </div> -->
        </div>
      </div>
    </div>


<!-- <link rel="stylesheet" href="http://cdn.jivosite.com/css/label.css?rnd=100645"><div id="jivo_css_detector" style="visibility: hidden; position: absolute;"></div><div id="jivo_top_wrap"><div id="jivo_chat_widget"><div id="jivo_chat_widget_offline"> -->

</div></div><div id="jivo_phantom" class="jivo-right jivo-notransition" style="background: rgb(219, 0, 42);"></div></div><div id="jivo_copyright" style="display: none; background-color: rgb(219, 0, 42);">Чат предоставлен <a href="http://jivosite.ru/?utm_source=morozoff.by&utm_medium=link&utm_content=widget_popup&utm_campaign=self_ad" target="_blank" id="jivosite-copyright" class="jivo-light jivo-ru_RU"></a><div id="jivo_copyright_corner" class="jivo-right" style="border-left-color: rgb(219, 0, 42);"></div></div>














</body>
</html>