html {margin:0; padding:0;}
body {font-family: Arial; font-size: 12pt; color:#000000;padding:0;margin:0px; background:#fff;}
a img{border:0; text-decoration:none !important;}
.clear{clear:both;}

h1{color:#30231f; font-weight:normal; font-size:24pt; margin:0; padding:5px 0;}
h2{color:#d91d40; font-weight:normal; font-size:14pt; margin:0; padding:5px 0;}
h3{color:#d91d40; font-weight:normal; font-size:14pt; margin:0; padding:5px 0;}

.land-h{font-size:24pt; color:#d91d40; font-weight:normal; margin:0; padding:5px 0;}
.main{width:992px; margin:0 auto;}
.header{background:url('/assets/shoko.jpg') top center no-repeat; min-width:1000px;  position:relative; height: 200%;}
.header-inner{width:1000px; height:175px; margin:0 auto; position:relative;}
.header-inner2{width:1000px; height:190px; margin:0 auto; position:relative;}
.logo{position:absolute; top:15px; left:40px; width: 120px; height: 120px;}
.podlogo{position:absolute; top:85px; left:47px;}
.podlogo a{color:red; font-weight:bold; font-size: 12pt; font-style:italic; text-decoration:none; text-shadow: 1px 1px 0px #fff, -1px -1px 0px #fff;;}

.menu-block{ width:669px; height:63px; background:url('/assets/menu.png') no-repeat; position:absolute; top:25px; right:-120px;}
.cart{position:absolute; top:17px; right:22px;}
.cart a{color:#fff; text-decoration:none;}
.cart a:hover{text-decoration:underline;}
.mobile-block{position:absolute; top:90px; right:10px;}
.phone-block{position:absolute; top:95px; right:420px;}
.chanel{font-size: 70%; text-align: right;}
.mobile-block-main{position:absolute; top:90px; right:10px;}
.phone-block-main{position:absolute; top:95px; right:425px;}
.office{padding:0; margin:0; list-style:none; font-weight:bold; font-style:italic; color:#d91d40; font-size: 20pt; float:left;}
.office b{color:#681611; font-weight:bold; font-style:italic; font-size: 26pt;}
.phone{color:red; font-weight:bold; font-style:italic; font-size:45pt; float:left; padding-left:10px; text-shadow: black 1px 0px, black 1px 1px, black 0px 1px, black -1px 1px, black -1px 0px, black -1px -1px, black 0px -1px, black 1px -1px;}
.oper{padding:0; margin:0; list-style:none; font-weight:bold; font-style:italic; color:#d91d40; font-size: 16pt; float:left;}
.slider{width:1000px; height:305px; background:url('http://morozoff.by/images/slidekrugi.png') 80% 0% no-repeat; position:absolute; left:0; bottom:3px;}

.menu{padding:8px 0; margin:0; list-style:none;}
.menu li{float:left; padding:0 10px; border-left:1px solid #8c3a14; margin-top:10px;}
.menu li.home{padding:0 10px !important; border-left:none !important; margin-top:0px;}
.menu a{color:#fff;  font-size:12pt; font-weight:bold; text-decoration:none;}
.menu a:hover{text-decoration:underline;}
.akc a{font-weight:bold; color:red !important;}

.cat{width:1000px; height:184px; background:url('/assets/catbg.png') no-repeat;}
.middle{width:1000px; margin:0 auto; position:relative;}
.ded{position:absolute; top:-136px; left:-25px;}
.ded-inner{position:absolute; top:-110px; left:160px;}

.catli{padding:0; margin:0; list-style:none;}
.catli li{float:left; width:198px; text-align:center; padding-top:10px;}
.catli li.catline{width:2px; height:167px; background:url('http://morozoff.by/images/line.png') no-repeat;}
.catli a{text-decoration:none; color:#fff; font-size:14pt;}
.catli li:hover a{text-decoration:underline;}
.catli span{color:#fff; font-style:italic; font-size:11pt; font-weight:bold;}
.content{background:#fff; width:984px; margin-left:9px;}
.content-main{background:#fff; width:974px; margin-left:9px; padding:0 0px 0 10px; border-radius: 10px;}
.line{width:965px; height:1px; padding-bottom: 1px; background-color: #9b9b9b; border-bottom:1px solid #F4F4F4;}
.line-inner{width:720px; height:12px; background:url('http://morozoff.by/images/line.gif') repeat-x;}

.left{width:232px; padding:10px 10px;}
.right{padding:10px 6px; width:720px;}

.text{font-size:11pt; text-align:justify; padding:10px 10px;}
.text p{text-align:justify;}

.navi{padding:10px 0; color:#4f4f4f; font-size:10pt;}
.navi a{color:#4f4f4f; text-decoration:underline; font-style:italic;}
.navi a:hover{text-decoration:none;}

.mtop{width:229px; height:20px; background:url('http://morozoff.by/images/topmen.png') no-repeat; position:relative;}
.mbot{width:229px; height:20px; background:url('http://morozoff.by/images/botmen.png') no-repeat;}
.dostavka{padding:0; margin:0;}
.catalog-l{margin-top:15px;}
.konf{width:93px; height:113px; position:absolute; top:0px; left:-85px; background:url('http://morozoff.by/images/konf.png') no-repeat;}
.list-block{width:215px; background:url('http://morozoff.by/images/menbg.gif') repeat-y; padding:5px 0 5px 14px;}
.tit{color:#d91d40; font-size:14pt; font-weight:bold; margin-bottom:5px;}
.tit a{color:#d91d40; text-decoration:none;}
.tit a:hover{text-decoration:underline;}
.list{padding:0; margin:0; list-style-image:url('http://morozoff.by/images/li.png');}
.list li{padding:8px 0; margin:0 5px 0 14px; border-bottom:1px dotted #aa9e9a;}
.list a{color:#30231f; text-decoration:none;}
.list a:hover{text-decoration:underline;}

.ctable td{vertical-align:top;}
.podarki{list-style:none; padding:15px 0 0 0; margin:0; overflow:hidden;}
.podarki li{float:left; width:210px; padding:0 10px 0 15px; margin-bottom:15px; height:312px; position:relative;}
.podarki li{float:left; width:210px; padding:0 15px; height:312px; position:relative;}
.podarki li:hover{background:url('http://morozoff.by/images/hover.gif') no-repeat;}
.img{margin:5px 0; text-align:center;}
.buy{position:absolute; bottom:7px; right:10px;}
.cost{position:absolute; bottom:22px; left:15px;  font-size:13pt; font-weight:bold; color:#30231f;}
.cost-old{position:absolute; bottom:28px; left:15px;  font-size:13pt; font-weight:bold; color:#30231f; text-decoration:line-through;}
.cost2{position:absolute; bottom:8px; left:15px;  font-size:13pt; font-weight:bold; color:red;}
h4{padding:5px 0; margin:0; font-size:11pt;}
h4 a{color:#d91d40; text-decoration:none;}
h4 a:hover{text-decoration:underline;}
.descr{color:#5a5756; font-size:11pt;}

.footer{background:url('/assets/fbg.png') top center repeat-y; width:100%; min-width:1000px;}
.foot{width:1000px; margin:0 auto; height:170px; position:relative;}
.ftop{width:100%; height:9px; background:url('/assets/ftop.png') top center no-repeat;}
.fcont{position:absolute; top:20px; left:20px;}
.fnavi{position:absolute; top:20px; left:300px;}
.fsoc{position:absolute; top:0px; left:550px;}
.ftit{color:#fff; font-size:16pt; margin-bottom:10px;}
.soc{width:134px; height:76px; background:url('http://morozoff.by/images/socbg.png') no-repeat; position:relative; list-style:none;}
.vkontakte{position:absolute; top:45px; left:20px;}
.instagram{position:absolute; top:0px; left:70px;}
.facebook{position:absolute; top:70px; left:75px;}
.twitter{position:absolute; top:40px; left:148px;}
.fcont{color:#fff; font-size: 11pt; }
.fcont font{color:#948b88;}
.fnav{font-size:11pt; padding:0; margin:0 0 0 15px;}
.fnav li{padding:3px 0; list-style-image:url('http://morozoff.by/images/li.png');}
.fnav a{color:#fff; text-decoration:underline;}
.fnav a:hover{text-decoration:none;}

.copyright{width:100%; min-width:1000px; height:60px; background:dodgerblue; padding-top:15px;}
.copy{width:990px; margin:0 auto; padding:0 10px; color:blue; position:relative;}
.copy font{font-size:80%;}
.copy a{color:#fff; text-decoration:none;}
.copy a:hover{text-decoration:underline;}
.elka{position:absolute; bottom:-8px; right:5px;}

.company-td{width:100%;}
.company-td td{text-align:center; width:33%;}
.company-td b{color:#d91d40; font-size:200%;}

.kolvo{width:80px; height:47px; font-size:20pt;}
.bright label{font-size:20pt; color:#30231f;}
.bright2 label{font-size:14pt; color:#30231f;}
.bleft{float:left; padding-top:3px; height:50px;}
.bright{float:left; margin-left:45px; height:50px;}
.bleft2{float:left; padding-top:3px; margin-left:15px; height:50px;}
.bright2{float:left; margin-left:10px; height:50px;}
.kolvo2{border:2px solid #d2d2d2; padding:0 5px; text-align:center;}
.kolvo2{width:50px; height:35px; font-size:16pt;}
.kolvo2:focus{border:2px solid #833114;}
.kolvo{border:2px solid #d2d2d2; padding:0 10px; text-align:center;}
.kolvo:focus{border:2px solid #833114;}
.ves{color:#4b4644; font-size:12pt; margin:5px 0;}
.price{color:#d91d40; font-size:22pt; margin:30px 0;}
.pricel{color:#d91d40; font-size:16pt; margin:10px 0; float:left;}
.dtit{font-size:18pt; text-align:center; color:#30231f; font-weight:bold; margin:15px 0;}
.sostav{border:none; width:98%;}
.sostav td{border-bottom:1px solid #ababab; padding:3px 5px; color:#30231f; font-size:10pt; vertical-align:middle;}
.sostav th{background:url('http://morozoff.by/images/bord.gif') bottom left repeat-x; text-align:left; padding:3px 5px; color:#30231f; font-size:12pt;}
.tr td{background:#ababab; font-weight: bold; color: #fff !important;}
.skidka{margin-top:30px; width:263px; height:38px; background:url('http://morozoff.by/images/skidka.gif') no-repeat; color:#d91d40; font-size:12pt; padding:20px 0 0 80px; font-style:italic; }
.stit{font-size:14pt; margin:3px 0; padding-top:5px; border-top:1px solid #d2d2d2;}
.opisanie{background:#d2d2d2; padding:5px; color:#30231f; font-size:10pt; top:5px; border:1px solid #777;}

.link{text-decoration:none; border-bottom:1px dashed #d91d40; color:#d91d40;}
.link:hover{border-bottom:1px solid #d91d40;}
.check{padding:10px 30px;}
.coll td{vertical-align:top; padding:5px 15px; font-size:10pt;}
.coll ul li{margin: 10px 0;}
.pdf{text-align:center; font-size:16pt; font-weight:bold; padding:10px 0; background:red;}
.pdf a{color:#fff; text-decoration:underline;}
.pdf a:hover{text-decoration:none;}

.box {display: none;}
.box.visible { display: block;}
ul.tabs {height: 35px; line-height: 31px; list-style: none; border-bottom: 2px solid #833114; background: #FFF;}
.tabs li {font-size:14pt; float: left; display: inline; font-weight:bold; margin: 0 5px 0px 0; padding: 0 25px 1px; color: #777; cursor: pointer; background: #F9F9F9;	border: 2px solid #E4E4E4; border-bottom: 1px solid #F9F9F9; position: relative;}
.tabs li:hover {color: #000; padding: 0 25px; background: #FFF; border-left: 2px solid #833114; border-right: 2px solid #833114; border-top: 2px solid #833114;}
.tabs li.current {color: #fff; background: #833114; padding: 0 20px 2px; border: 2px solid #833114; border-bottom: 1px solid #833114;}
.box {display: none; border: 2px solid #833114; border-width: 0 1px 1px;	background: #fff; padding: 0 12px; margin-top:-16px;}
.box.visible {display: block;}

.section{width:720px;}
.section.vertical {width: 440px;	border-left: 160px solid #FFF;}
.vertical .tabs {width: 160px; float: left; display: inline; margin: 0 0 0 -160px;}
.vertical .tabs li {padding: 0 13px; margin: 0 0 1px;	border: 1px solid #E4E4E4; border-right: 1px solid #F9F9F9;	width: 132px; height: 25px;}
.vertical .tabs li:hover {width: 131px;}
.vertical .tabs li.current {width: 133px; color: #444;	background: #EFEFEF; border: 1px solid #D4D4D4; border-right: 1px solid #EFEFEF; margin-right: -1px;}
.vertical .box {border-width: 1px;}
.ps{font-size:10pt; padding:5px 0;}
#newDivPh{position:absolute; background:#fff; padding:10px; border:1px solid #dbdbdb;}
.rambler{position:absolute; bottom:8px; right:330px;}
.google{position:absolute; bottom:7px; right:280px;}
.otzyv {padding: 20px 15px; position: relative;}
.date-otzyv{font-weight:bold; float: left;}
.city-otzyv{font-weight:bold; }
.author-otzyv{font-weight:bold; float: left; color:#d91d40; padding: 0 20px;}
.inner-otzyv{border: 5px solid #EFEFEF; padding: 15px 10px; font-size: 80%;}
.rating-otzyv{position:absolute; top:17px; right:20px;}
.answer-otzyv{background: #f5f5f5; margin-left: 50px; padding: 15px 10px;font-size: 80%; color: #454545;}
.pod-otzyv{font-style: italic; font-weight: bold; text-align:right;}
.konfetytd {border: 5px solid #EFEFEF; font-size:80%;}
.konfetytd td{border: 1px solid #EFEFEF; vertical-align:middle; padding: 5px;}
.konfetytd th{background: #EFEFEF; border: 5px solid #EFEFEF;}
.icons{position: absolute; top: -15px; right: 0px;}
.skidka10{position: absolute; top: 170px; left: 3px;}
#contact-wrapper {
	width:670px;
	border:1px solid #e2e2e2;
	background:#f1f1f1;
	padding:20px;
}
#contact-wrapper div {
	clear:both;
	margin:1em 0;
}
#contact-wrapper label {
	display:block;
	float:none;
	font-size:16px;
	width:auto;
}
form#contactform input {
	border-color:#B7B7B7 #E8E8E8 #E8E8E8 #B7B7B7;
	border-style:solid;
	border-width:1px;
	padding:5px;
	font-size:16px;
	color:#333;
	width: 650px;
}
form#contactform textarea {
	font-family:Arial, Tahoma, Helvetica, sans-serif;
	font-size:100%;
	padding:0.6em 0.5em 0.7em;
	border-color:#B7B7B7 #E8E8E8 #E8E8E8 #B7B7B7;
	border-style:solid;
	border-width:1px;
	width: 650px;
}
.video{
	width:100%;
	height:526px;
	padding: 25px 0;
	background: url('http://morozoff.by/images/video.jpg') top center no-repeat;
}
.vid-title{
	color: #fff;
	font-size: 24pt;
	text-align:center;
}
.vid-block{
	border: 5px solid #111e31;
	margin:10px auto;
	width: 900px;
}
.land-tit{
	color: #000;
	font-size: 24pt;
	margin-top: 10px;
}
.clients{
	text-align:center;
}
.main-otz{
	margin: 15px auto;
	list-style: none;
	padding: 0;
	height: 200px;
}
.main-otz li{
	float: left;
	width: 376px;
	height: 149px;
	margin-left: 25px;
	padding: 35px 20px 0 50px;
	color: #fff;
}
.main-otz b{
	font-size:14pt;
	margin-bottom: 10px;
}
.otz1{
	background: url('http://morozoff.by/images/otz1.jpg') top left;
}
.otz2{
	background: url('http://morozoff.by/images/otz2.jpg') top left;
}
.konf-main{
	background: #ece8e4 url('http://morozoff.by/images/konfbg.gif') center center repeat-x;
	padding:0;
	margin: 5px 0 15px 0;
	width: 950px;
	height: 150px;
	list-style:none;
	border-top: 3px solid #e2e2e2;
	border-bottom: 3px solid #e2e2e2;
}
.konf-main li{
	float:left;
	margin: 8px 10px;
}
.all-href{
	float: right;
	margin: 10px 25px 0px 0px;
	font-size: 14pt;
}
.all-href a{
	text-decoration: none;
	color: #d91d40;
	text-decoration: none;
	border-bottom: 1px dashed #d91d40;
}
.all-href a:hover{
	text-decoration:none;
	border-bottom: 1px solid #d91d40;
}

.img_shared{
	text-align:center;
	color: blue;
}

hr {
padding-bottom: 1px;
background-color: #9b9b9b;
border-bottom:1px solid #F4F4F4;
}

.red{
	color: red;
}
#red{
	color: red;
}
.img_karta{
text-align:center;
}
.letter {
color: red; /* Цвет символа */
}

.blue{
	color: blue;
}
#blue{
	color: blue;
}

#img_for_show{
 /* Параметры границы */
    float: left;
}

#description_text{
	text-align:justify;
	margin-right: 15px;
}

