<div class="content-main">
<br>
<p><strong>Компания «ДИАР-Презент»</strong> - ведущая  компания по продаже новогодних подарков из конфет в Республике Беларусь. Мы напрямую сотрудничаем с белорусскими, украинскими, российскими производителями кондитерских изделий.</p>
<p>Мы ценим и дорожим надежными партнерскими отношениями, основанными на доверии и уважении.</p>
<p>3 реальных факта, <strong>почему выбирают именно Нас:</strong></p>
<ul>
  <li>Наши высококвалифицированные сотрудники помогут с выбором новогодних подарков, исходя из Ваших индивидуальных предпочтений;</li>
  <li>Мы предлагаем лучшие составляющие подарков по минимальной цене с возможностью формирования оригинального состава;</li>
  <li>Бесплатная доставка подарков точно в срок в заранее назначенное время.</li>
</ul>
<p>Наша компания гарантирует выполнение всех наших обязательств на самом высоком уровне.</p>
<p><span class="red"><strong>Акции, бонусы и скидки:</strong></span></p>
<p>Приобретая сладкие новогодние подарки компании ДИАР-ПРЕЗЕНТ, Вы получаете <span class="red"><strong>СКИДКУ до 30%.</strong></span> Все скидки формируются индивидуально и зависят от количества приобретаемых подарков, условий оплаты и т.д.</p>
<p>К Наступающему Новому 2017 году Мы рады предложить Вам</p>
<p><span class="red"><strong>БОНУС – каждый 25 подарок БЕСПЛАТНО!</strong></span> </p>
<p>Более подробную информацию об акциях, бонусах и скидках вы можете получить связавшись с нашими специалистами.</p>
<p>По Вашему желанию мы можем:</p>
<ul>
  <li>дополнить подарок магнитиком или сувениром с символом наступающего года, открыткой, игрушкой, брелоком и др.;</li>
  <li>дегустацию кондитерских изделий у нас в офисе;</li>
  <li>организовать демонстрацию новогодней упаковки с выездом наших специалистов к Вам.</li>
<ul>
<p><strong>Новый Год вкуснее и счастливее вместе с компанией ДИАР-ПРЕЗЕНТ!!!!!!</strong></p>
<br>