<div class="img_karta">
<div class="content-main">
<br>
<p> Контакты ООО "ДИАР-ПРЕЗЕНТ":</p>
<p>Адрес: 220013, г.Минск, ул.П.Бровки, 18</p>
<!--
<p>МТС: +37529 227-28-92, 227-35-39, 227-29-54, 227-33-48, 227-29-68, 883-09-09.</p>
<p>Velcom: +37544 544-41-39, 544-42-03, 544-42-36, 544-49-50, 544-42-36, 544-41-29.</p>
<p>Городские: +37517 388-40-63, 388-40-62, 388-40-61.</p>
-->
<p>Телефоны:</p>
<p>МТС:  +375 33 384 17 83; +375 29 553 1 553</p>
<p>Velcom:  +375 29 602 90 02; +375 29 337 54 31; +375 44 712 55 38</p>
<p>Тел.факс:+375 17 290 08 75</p>
<p>Email: diarpresent@gmail.com</p>

<!--
<p>г. Минск: +375 (29) 227 28 92; +375 (44) 544 42 92; +375 (44) 544 42 36 </p>
<p> +375 (17) 388 40 63; +375 (17) 388 40 62; </p>


<p>Минская область: 	+375 (29) 883 09 09; +375 (44) 544 49 50; +375 (17) 388 40 71</p>
<p>Брестская область: 	+375 (29) 227 28 92; +375 (44) 544 42 92; +375 (17) 388 40 63</p>
<p>Гомельская область: 	+375 (29) 227 29 54; +375 (44) 544 42 03; +375 (17) 388 40 72</p>
<p>Могилевская область:	+375 (29) 227 43 48; +375 (44) 544 42 36; +375 (17) 388 40 61</p>
<p>Витебская область:	+375 (29) 227 43 48; +375 (44) 544 42 36; +375 (17) 388 40 61</p>

<p>Skype: diarpresent</p>
<p>Email: diarpresent@gmail.com</p>

<img src="/assets/karta.png">
-->
<br>
<p>
</div>

<br>