      <div class="content-main">
            <h1>Новогодние подарки к новому 2017 году</h1>
            <p><strong>Компания ООО «ДИАР-ПРЕЗЕНТ»</strong> – одна из лидирующих производителей и поставщиков сладких новогодних подарков в Республике Беларусь. Новогодние подарки из конфет нашей компании пользуются огромной популярностью.</p>
            <p><strong>Главной целью</strong> компании является создание яркой, веселой и праздничной атмосферы каждому Клиенту. Приходите к нам за солнечным и праздничным настроением.</p>
    <div class="line"></div>

<h2 class="land-h">Каталог популярных подарков <div class="all-href"><a href="/all" title="Новогодние подарки для детей">Все подарки »</a></div></h2>
<h2>(цены указаны с НДС)</h2>
<ul class="podarki">

<% @products.each do |product| %>
<li>
        <div class="img"><a href=""><%= image_tag product.image, :width => 200, :height => 200  %></a></div>
        <h4><a href=""><%= product.title %></a></h4>

        <div class="cost"><%= product.price %> руб.</div>
        <div class="buy">
          <%= link_to image_tag('full.gif'), product %>
        </div>
        </li>
<% end %>

</ul>
</div>
</div>

<div class="middle">
<div class="content-main">
<div class="line"></div>
<div class="text">
<h2>Широчайший ассортимент новогодних подарков в Минске</h2>
<p><b>Новогодние подарки компании ООО «ДИАР-ПРЕЗЕНТ»</b> – это самые вкусные, самые свежие, качественные наборы. Лучшим образом подобран ассортимент конфет, входящих в состав новогодних подарков, в сочетании с яркой, красочной новогодней упаковкой придают высший статус нашим подаркам, которые придутся по вкусу даже самому требовательному покупателю.</p>
<p>К Наступающему Новому 2017 году Мы рады предложить Вам огромнейший ассортимент новогодних подарков из конфет и разнообразие новогодней упаковки из картона, микрогофрокартона, текстиля, дерева и металла.</p>

<!-- <div class="land-tit">В этом году нам доверяет уже более 250 клиентов!</div> -->

<div class="clients"></div>

<table cellpadding="0" cellspacing="0" class="coll">
  <tbody>
  <tr>
    <td width="100%">
    <h3>Наши преимущества:</h3>
    <ul>
      <li>Самые низкие цены;</li>
      <li>Широкий ассортимент;</li>
      <li>Бесплатная доставка;</li>
      <li>Индивидуальный подход к каждому Клиенту;</li>
      <li>Простое и удобное оформление заказа;</li>
      <li>У нас предусмотрены БОНУСЫ и <span class="red">СКИДКИ до 30%;</span></li>
      <li>К Наступающему Новому 2017 году <span class="red">каждый 25 подарок -  БЕСПЛАТНО!</span></li>
    </ul>
    </td>
  </tr>
  </tbody>
</table>
<!-- <div class="land-tit">Отзывы о нашей работе <div class="all-href"><a href="/" title="Отзывы">Все отзывы »</a></div></div> -->
<!-- <ul class="main-otz">
<li class="otz1">
<b>© Ольга / 06.12.2014</b><br>
Очень довольны сотрудничеством с вашей организацией! Детки наших сотрудников будут рады таким замечательным подаркам! Спасибо и наступающими праздниками!
</li>
<li class="otz2">
<b>© Никита / 08.01.2014</b><br>
Заказывали у «ДИАР-Презент» в первый раз. понравилось очень вежливое обслуживание. подарки привезли в хорошем состоянии и вовремя. с новым годом вас!!!!
</li>
</ul> -->
</div>
</div>
</div>
