<div class="content-main">
<br>
<div class="img_shared"> <strong> СУПЕРПРЕДЛОЖЕНИЯ!</div>

<p>При заказе и оплате новогодних подарков до 1 октября 2016 года действует <span class="red">скидка до 30%</span> в зависимости от количества приобретаемых подарков.</p>

<p>К Наступающему Новому 2017 году Мы рады предложить Вам </p>
<p><span class="red">БОНУС - каждый 25 подарок - БЕСПЛАТНО!</span> </p>

<div class="img_shared">
  <img src="/assets/img.jpg">
</div>
