<div class="content-main">
<br>
<p><h1>Доставка новогодних подарков</h1></p>
<h2><span class="blue">Бесплатная доставка осуществляется при минимальном заказе</span></h2>
<ul>
  <li>От 10 штук или 200 руб. в ассортименте.</li>
</ul>
<h2><span class="blue">Условия доставки:</span></h2>
<ul>
  <li>доставка новогодних подарков осуществляется в будние дни с 9:00 до 18:00;</li>
  <li>дата поставки товаров согласовывается сторонами. За два дня до поставки новогодних подарков Клиент будет уведомлен о времени прибытия транспорта и контактных данных водителя;</li>
  <li>по желанию клиентов возможен самовывоз новогодних подарков с территории склада компании ДИАР-ПРЕЗЕНТ.</li>
</ul>

<h2><span class="blue">Получение товара с территории склада компании ДИАР-Презент.</span></h2>
<p>Для получения товара необходимо иметь при себе:</p>

<ul>
  <li>договор и счет-фактуру, подписанные со стороны Покупателя;</li>
  <li>доверенность на получение подарков, заверенную подписью уполномоченного лица и печатью организации покупателя;</li>
  <li>документ удостоверяющий личность.</li>
</ul>
<p>Рекомендуем заблаговременно согласовывать дату доставки (самовывоза) новогодних подарков.</p>
<p><b>ВНИМАНИЕ! Без документов товар не отгружается!</b></p>
<h1>Заказ и оплата новогодних подарков<h1>

<h2><span class="blue">Оформление заказа</span></h2>

<p>Оформить заказ новогодних подарков можно связавшись с нашими специалистами по телефону, факсимильной связи, электронной почте.</p>


<h2><span class="blue">Оплата новогодних подарков.</span></h2>
<p>После оформления заказа Вы получите удобным для Вас способом договор и счет-фактуру, которые необходимо подписать и оплатить в течении 5 рабочих дней с момента их выставления. Более подробную информацию об условиях оплаты Вы можете получить у наших специалистов при оформлении заказа.<p>

<div class="line"></div>
